@model Wardrobe_MVC.Models.Top

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Top</h4>
    <hr />
    <div>
        <h1>@Html.DisplayFor(model => model.Name)</h1>

        <img class="picture" src="@Html.DisplayNameFor(model => model.Photo)" />

        <h3>@Html.DisplayNameFor(model => model.Type)</h3>
        <p>@Html.DisplayFor(model => model.Type)</p>

        <h3>@Html.DisplayNameFor(model => model.Color)</h3>
        <p>@Html.DisplayFor(model => model.Color)</p>

        <h3>@Html.DisplayNameFor(model => model.Season)</h3>
        <p>@Html.DisplayFor(model => model.Season)</p>

        <h3>@Html.DisplayNameFor(model => model.Occasion)</h3>
        <p>@Html.DisplayFor(model => model.Occasion)</p>
    </div>
  
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TopID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
