@model IEnumerable<Wardrobe_MVC.Models.Top>

@{
    ViewBag.Title = "Tops";
}

<h2>Tops</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { @class = "myClass" })
</p>

@*Foreach Loop that adds thumbnails*@
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-md-4 col"> 
                <div class="caption">
                    <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
                    <div class="itemPicture">
                        <img class="picture" src="@Html.DisplayFor(modelItem => item.Photo)" />
                    </div>
                    @*<p>@Html.DisplayFor(modelItem => item.Type)</p>
                    <p>@Html.DisplayFor(modelItem => item.Color)</p>*@
                    <p>
                    @Html.ActionLink("Edit", "Edit", new { id = item.TopID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.TopID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.TopID })
                    </p>
                </div>
        </div>
    }
</div>
